/* Annuler le débordement */

@media (max-width: 1024px) {
    .elementor-1162 .elementor-element.elementor-element-6cfbfc7 {
        justify-content: flex-start !important;
        margin-left: -80px;
    }
    
}

@media (min-width: 767px) {
    .elementor-1162 .elementor-element.elementor-element-6cfbfc7 {
        padding-top: 50px;
    }
    
}